.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 15px 0;
  margin-inline: auto;
}

.wContainer {
  margin-bottom: 8px;
}

.wSpan {
  margin: 0px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
}

.inputContainer {
  position: relative;
}

.input {
  box-sizing: border-box;
  background: none;
  margin: 0px;
  min-width: 0px;
  padding: 8px 8px;
  width: 100%;
  color: rgb(38, 38, 38);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;

  border: 1.3px solid #d6d8db;
}

.input:focus {
  outline: none;
}

.editBtnContainer {
  display: flex;
  justify-content: space-around;
}

.btnSave {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 1px solid transparent;
  margin: 0px;
  cursor: pointer;
  text-transform: none;
  font-family: Manrope, sans-serif;
  min-width: 64px;
  width: 90px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: black;
  background-color: green;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.btnCancel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 1px solid transparent;
  margin: 0px;
  cursor: pointer;
  text-transform: none;
  font-family: Manrope, sans-serif;
  min-width: 64px;
  width: 90px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: black;
  background-color: red;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.errorInput {
  border: 1px solid red;
}

.successInput {
  border: 1px solid green;
}

.error {
  position: absolute;
  bottom: -18px;
  left: 5px;
  color: red;
  font-size: 12px;
}
